// break points
$sp-max-width: 440px;
$tb-max-width: 998px;
$pc-min-width: 998px;

// Colors
$light-blue: #1eafde;
$dark-blue: #3793bc;
$darkest-blue: #16242f;
$yellow: #feb902;
$green: #25c389;
$red: #e7615e;
$black: black;
$white: #fff;
$grey: darkgrey;
$font: "Montserrat", sans-serif;
