<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <h1 class="one"><a href="/one">{{ heading }}</a></h1>
    <p class="one">{{ message }}</p>

    <script src="/static/js/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="/static/js/index5.js"></script>
  </body>
</html>
