<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>

  <body>
    <h1 class="two"><a href="/two">{{ heading }}</a></h1>
    <p class="two">{{ message }}</p>
    <canvas id="c"></canvas>
    <script src="/static/js/three.js"></script>
    <script src="/static/js/orbitControls.js"></script>
    <script src="/static/js/index2.js"></script>
  </body>
</html>
