<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My first three.js app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Anton|Montserrat:900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        background: black;
      }
      h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: orange;
        text-align: center;
      }
      p {
        color: orange;
      }
      canvas {
        width: 100%;
        height: 60vh;
      }
    </style>
  </head>

  <body>
    <header>
      <canvas id="c"></canvas>
    </header>
    <h1>Savlon Healthy Hands Chalk Sticks</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, nobis
      vitae quisquam necessitatibus, molestiae eligendi voluptatum ducimus
      assumenda ab excepturi quibusdam laudantium optio porro, obcaecati labore?
      Cupiditate vitae ullam officiis.
    </p>

    <script src="static/js/three.js"></script>
    <script src="static/js/orbitControls.js"></script>
    <script src="static/js/dat.gui.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
